venv/**/*
venv
.vscode/**/*
.vscode
.github/**/*
.github
docs/**/*
docs
.git/**/*
.git
test.py
LICENSE
.gitignore
.gitattributes
.gitmodules
.dockerignore
README.md
CHANGELOG.md
CODE_OF_CONDUCT.md
Bot.Dockerfile
Interface.Dockerfile
.travis.yml
.all-contributorsrc
docker-compose.yml
docker-compose-dev.yml