venv/**/*
venv
.vscode/**/*
.vscode
.github/**/*
.github
.dockerimages/**/*
.dockerimages
docs/**/*
docs
ENVVARS_DEV.env
TODO
test.py
LICENSE
Dockerfile
.gitignore
.git/**/*
.git
.gitattributes
.gitmodules