[Unit]
Description=Peach TCP Server Component
# When systemd stops or restarts the app.service, the action is propagated to this unit
PartOf=peach.service
# Start this unit after the app.service start
After=peach.service
After=peach_tcp_server.service

[Service]
# Pretend that the component is running
WorkingDirectory=/home/pi/Documents/Peach

ExecStart=/usr/bin/python3 /home/pi/Documents/Peach/peach_bot/main.py
# Restart the service on non-zero exit code when terminated by a signal other than SIGHUP, SIGINT, SIGTERM or SIGPIPE
Restart=on-failure

[Install]
# This unit should start when app.service is starting
WantedBy=peach.service