body {
    background-color: #333333;
    background-blend-mode: normal;
    color: #ffffff;
    padding: 1%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
button {
    padding: 10px;
}
svg {
    stroke: #e4a075; 
}
a, a:hover {
    color: #e4a075;
}
.loading {
    text-align: center;
}

#login_prompt_text {
    font-size: 20pt;
    font-family: 'Roboto';
    font-weight: 200;
}

#login_prompt_button {
    width: 20vw;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#login_prompt_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.25),0 17px 50px 0 rgba(0,0,0,0.19);
}

.server-info {
    text-align: right;
    font-size: 1rem;
}

.avatar {
    width: 44px;
    border-radius: 50%;
}

.server_icon {
    width: 32px;
    border-radius: 50%;
}

.dropdown {
    padding-right: 5px;
}

.server_dropdown, .username, .discord_profile_picture {
    display: inline-block;
}

.username {
    padding-right: 5px;
}

.server_dropdown.btn-primary:hover, .server_dropdown.btn-primary, .server_dropdown.show>.btn-primary.dropdown-toggle, .server_dropdown.show>.btn-primary.dropdown-toggle:focus{
    background-color: unset;
    border-color: unset;
    transition: unset;
    border: unset;
    box-shadow: unset;
}

.select_server_name {
    display: inline;
    padding-left: 8px;
}

.show>.btn-primary.dropdown-toggle:focus, .show>.btn-primary.dropdown-toggle:active, .btn-primary:focus, .btn-primary:active, .btn-primary:hover, .btn-primary, .show>.btn-primary.dropdown-toggle, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: unset;
    border-color: unset;
    border: 0px;
    transition: unest;
}

.box {
    display: flex;
    align-items: center;
}

.dropdown-toggle::after {
    display: none;
}

.user-info {
    display: inline-block;
    vertical-align: middle;
}