body {
    background-image: url("https://imgur.com/GCPCUFO.jpg");
    background-color: #333333;
    background-blend-mode: normal;
    color: #ffffff;
    padding: 1%;
}
button {
    padding: 10px;
}
svg {
    stroke: #e4a075; 
}
a, a:hover {
    color: #e4a075;
}