[Unit]
Description=Peach Discord Bot
After=network.target

[Service]
Type=simple
User=peach
ExecStart=/usr/local/bin/discordclient -token=$BOTTOKEN -log=info
Restart=always
WorkingDirectory=/home/peach

[Install]
WantedBy=default.target