{% extends 'wrap.html' %}

{% block site %}
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
        <div class="box">
            <img src="{{ url_for('static', filename='peach.png') }}" style="width: 32px" alt="Peach icon">
            <span style="font-weight: 600;">Peach</span>{% if admin %}<span style="font-weight: 200;">Admin</span>{% endif %}
        </div>
    </a>
    <div class="server-info col-lg-10 navbar-brand ml-sm-auto">
        <div class="server_dropdown" style="padding-left: 10px;">
            <div class="dropdown show">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="box">
                        {% if current_server[1] != None %}
                            <img class="server_icon" src="{{current_server[1]}}" alt="Server icon">
                            <span class="select_server_name">{{current_server[0]}}</span>
                        {% else %}
                            <img class="server_icon" src="{{ url_for('static', filename='missing_icon.png') }}" alt="Missing icon">
                            <span class="select_server_name">{{current_server[0]}}</span>
                        {% endif %}
                            <span class="dropdown_triangle"></span>
                    </div>
                </a>
            
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    {% for server in servers %}
                        {% if server[1] != None %}
                            <a class="dropdown-item" href="/select_server/?id={{server[2]}}">
                                <div class="box">
                                    <img class="server_icon" src="{{server[1]}}" alt="Server icon">
                                    <span class="select_server_name">{{server[0]}}</span>
                                </div>
                            </a>
                        {% else %}
                            <a class="dropdown-item" href="/select_server/?id={{server[2]}}">
                                <div class="box">
                                    <img class="server_icon" src="{{ url_for('static', filename='missing_icon.png') }}" alt="Missing icon">
                                    <span class="select_server_name">{{server[0]}}</span>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="user-info">
            <div class="box">
                <div class="username">
                    <span>{{username}}</span>
                </div>
                <div class="discord_profile_picture">
                    <img class="avatar" src="{{avatar_url}}" alt="Avatar">
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('dashboard') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            Dashboard
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('servers') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            Servers
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('stats') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            Stats
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('settings') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                            Settings
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logs') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                            Logs
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block main %}{% endblock %}
    </div>
</div>

{% endblock %}