{% extends 'wrap.html' %}

{% block site %}
<div class="center_container" style="top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; text-align: center;">
    <img src="{{ url_for('static', filename='peach.png') }}" style="width: 10vh">
    <p id="login_prompt_text">
        To continue please<br>
        login with discord
    </p>
    <a href="{{ url_for('discord_auth') }}">
        <button type="button" id="login_prompt_button" class="btn btn-light">
            Login
        </button>
    </a>
</div>
{% endblock %}